* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI Semibold", Arial, Helvetica, sans-serif;
}
nav.navbar {
  background-color: #f9cc02;
}
img.logo-img {
  width: 85px;
  height: 81px;
  margin: 9px 0px 6px 11px;
}
nav.navbar .container-navbar {
  display: flex;
  flex-direction: row;
  gap: 8.5rem;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}
ul li {
  display: flex;
  position: relative;
  color: #fff;
  list-style: none;
  font-size: 17.5px;
  cursor: pointer;
}
.links-navigation li::after {
  content: "";
  position: absolute;
  left: 0;
  margin-top: 2px;
  top: 100%;
  width: 0;
  height: 3px;
  background: #fff;
  transition: 0.4s ease-in-out;
}
ul.links-navigation li:hover::after {
  width: 100%;
}
ul.links-navigation li:hover {
  color: #7fb7f0;
}
.container-navbar .login-area {
  display: flex;
  align-items: center;
  margin-left: 59rem;
}
.container-navbar a#link-5 button {
  width: 130px;
  height: 55px;
  background: transparent;
  border: 1px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
  text-align: center;
  position: relative;
}

.links-navigation a#link-5 button:hover {
  background-color: #fff;
  color: #1e90ff;
}

@media screen and (max-width: 1965px) {
  .links-navigation a#link-5 button {
    right: 0em;
  }
}
@media screen and (max-width: 1765px) {
  .links-navigation a#link-5 button {
    right: 5em;
  }
}
@media screen and (max-width: 1665px) {
  img.logo-img {
    width: 75px;
    max-height: 71px;
  }
  .links-navigation a#link-5 button {
    right: 15em;
  }
}
@media screen and (max-width: 1465px) {
  img.logo-img {
    width: 70px;
    max-height: 66px;
  }
  .links-navigation a#link-5 button {
    right: 22em;
    width: 110px;
    height: 50px;
  }
  ul.links-navigation li {
    font-size: 16px;
  }
}
@media screen and (max-width: 1365px) {
  img.logo-img {
    width: 70px;
    max-height: 66px;
  }
  .links-navigation a#link-5 button {
    right: 27em;
    width: 110px;
    height: 50px;
  }
  ul.links-navigation li {
    font-size: 15px;
  }
}
@media screen and (max-width: 1200px) {
  img.logo-img {
    width: 70px;
    height: 65px;
  }
  .links-navigation a#link-5 button {
    right: 36em;
    width: 105px;
    height: 45px;
  }
}
@media screen and (max-width: 991px) {
}
